bcrypt==3.1.7
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
dataclasses==0.6
python-dotenv==0.10.3
fastapi==0.33.0
idna==2.8
passlib==1.7.1
pycparser==2.19
pydantic==0.30
PyJWT==1.7.1
python-dotenv==0.10.3
requests==2.22.0
six==1.12.0
starlette==0.12.0
urllib3==1.25.6
passlib[bcrypt]
py_eureka_client==0.7.2
requests==2.22.0

